<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AURALIS_ALCHEMY_API_KEY</key>
	<string>$(AURALIS_ALCHEMY_API_KEY)</string>
	<key>AURALIS_HELIUS_API_KEY</key>
	<string>$(AURALIS_HELIUS_API_KEY)</string>
	<key>AURALIS_WALLETCONNECT_PROJECT_ID</key>
	<string>$(AURALIS_WALLETCONNECT_PROJECT_ID)</string>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormAudio</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.auraplay.nft-sync</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.auralis.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>auralis</string>
				<string>auraplay</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>cbwallet</string>
		<string>mwp+1.1</string>
		<string>rainbow</string>
		<string>ledgerlive</string>
		<string>rabby</string>
		<string>phantom</string>
		<string>backpack</string>
		<string>solflare</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Auralis uses the camera to scan Ethereum wallet QR codes and capture playlist cover art.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Auralis uses your photo library so you can choose playlist cover art.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
