<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<dict>
		<key>Moralis</key>
		<string>moralis_key</string>
		<key>Infura</key>
		<string>infura_key</string>
		<key>Alchemy</key>
		<string>alchemy_key</string>
	</dict>
</dict>
</plist>
